@charset "UTF-8";
:root {
  --overlay-bg-color: rgba(47, 48, 58, 0.4);
  --hero-bg-color: #c4c4c4;
  --accent-color: #2196f3;
  --dark-text-color: #000;
  --light-text-color: #fff;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hero-text-color: #fff;
  --glassy-white-text: rgba(255, 255, 255, 0.6);
  --main-bg-color: #fff;
  --second-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
  --order-btn-color: #2196f3;
  --active-btn-color: #188ce8;
  --filter-btn-color: #f5f4fa;
  --header-underline-color: #ececec;
  --card-border-color: #eee;
  --s-icons-color: #afb1b8;
  --light-s-icon-color: #fff;
  --dark-bg-icon-color: rgba(255, 255, 255, 0.1);
  --form-icon-color: #212121;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --form-fild-border: #21212133;
  --menu-butons: #212121;
}

/* Приховування логічного заголовку */
.section__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* застосуавння загальних стилів для сторінки    */
/* html{
  box-sizing: border-box;
} */
/* 

*,
*::before,
::after{
  box-sizing: inherit;
} */
body {
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* Скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* скидання стилів списку по замовчуванню */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* скидання стилів посилань по замовчуванню */
.link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 60px 0;
  height: auto;
  /* Приховування логічного заголовку */
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid var(--header-underline-color);
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}
@media screen and (max-width: 767px) {
  .page-header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 60px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  /* gap: 50px; */
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav.list .item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .contact.list .item:not(:last-child) {
    margin-right: 50px;
  }
}

/* стилі логотипу компанії */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  text-transform: capitalize;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

/* лого в хедері */
.logo-dark {
  color: var(--dark-text-color);
}

/* навігація сайту */
.site-nav.list .link,
.contact.list .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav.list .link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.1428571429;
}
@media screen and (min-width: 1200px) {
  .site-nav.list .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact.list .link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .contact.list .link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link:hover,
.site-nav .link:focus,
.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
  }
}

.site-nav .link.current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav .link.current {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translatey(1px);
            transform: translatey(1px);
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

/* .navigation .link,*/
.page-header .link {
  display: inline-block;
}

.contact.list {
  /* gap: 50px; */
}
@media screen and (min-width: 768px) {
  .contact.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (max-width: 767.998px) {
  .contact.list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact.list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-nav .link {
  color: var(--secondary-text-color);
  text-transform: capitalize;
}

/* іконки біля kонтактів */
.contact.list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .contact.list .link {
    gap: 10px;
  }
}

.icon.mail {
  fill: currentColor;
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .icon.mail {
    width: 16px;
    height: 12px;
  }
}

.icon.phone {
  fill: currentColor;
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .icon.phone {
    width: 10px;
    height: 16px;
  }
}

/* секція герой */
.hero {
  text-align: center;
  padding: 118px 0;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: var(--second-bg-color); */
  background-color: var(--hero-bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(../images/hero/mob/bg-480.jpg);
  background-image: linear-gradient(to right, var(--overlay-bg-color), var(--overlay-bg-color)), url(../images/hero/mob/bg-480.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(../images/hero/mob/bg-960.jpg);
    background-image: linear-gradient(to right, var(--overlay-bg-color), var(--overlay-bg-color)), url(../images/hero/mob/bg-960.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(../images/hero/tablet/bg-768.jpg);
    background-image: linear-gradient(to right, var(--overlay-bg-color), var(--overlay-bg-color)), url(../images/hero/tablet/bg-768.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(../images/hero/tablet/bg-1536.jpg);
    background-image: linear-gradient(to right, var(--overlay-bg-color), var(--overlay-bg-color)), url(../images/hero/tablet/bg-1536.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(../images/hero/desktop/bg-1600.jpg);
    background-image: linear-gradient(to right, var(--overlay-bg-color), var(--overlay-bg-color)), url(../images/hero/desktop/bg-1600.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--overlay-bg-color)), to(var(--overlay-bg-color))), url(../images/hero/desktop/bg-3200.jpg);
    background-image: linear-gradient(to right, var(--overlay-bg-color), var(--overlay-bg-color)), url(../images/hero/desktop/bg-3200.jpg);
  }
}

/* заголовок секції героя */
.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

/* кнопка секції героя */
.hero-btn,
.pb-submit-btn,
.modal-submit-btn {
  color: var(--hero-text-color);
  background-color: var(--order-btn-color);
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* активний стан для кнопки */
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-btn-color);
}

/* ===========features start ==============================*/
@media screen and (min-width: 768px) {
  .features__grid {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767.998px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features .thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--grey-bg-color);
  border-radius: 4px;
}
.features .thumb__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-top: 30px;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767.998px) {
  .features .thumb__title {
    text-align: center;
  }
}
.features .thumb__text {
  font-size: 14px;
  line-height: 1.7142857143;
  margin-top: 10px;
}

.work {
  display: none;
  /* Секція Робота або спектр послуг*/
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__section {
  padding-top: 0;
}
.work__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.work__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.work__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding: 27px 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--light-text-color);
  text-align: center;
}

/* секція команда */
/* фон секції */
.teammates {
  /* картка члена команди */
  /* заголовок картки та її текст*/
}
.teammates__section {
  background-color: var(--grey-bg-color);
}
@media screen and (min-width: 768px) {
  .teammates__grid {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .teammates__grid {
    margin-top: 50px;
  }
}
.teammates__card {
  max-width: 100%;
  text-align: center;
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.998px) {
  .teammates__card {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .teammates__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .teammates__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.teammates__card-bottom {
  padding: 30px 0 24px;
}
@media screen and (min-width: 1200px) {
  .teammates__card-bottom {
    padding-bottom: 30px;
  }
}
.teammates__title {
  color: var(--secondary-text-color);
  font-weight: 500;
}
.teammates__text {
  margin-top: 10px;
}
.teammates__title, .teammates__text {
  font-size: 16px;
  line-height: 1.1875;
}

.social-links {
  /* блок посиланнь на соц мережі*/
  /* посилання в картці команди*/
  /* іконки в картці команди*/
}
.social-links__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
}
.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--s-icons-color);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-color);
  color: var(--light-s-icon-color);
}

/* секція постійних клієнтів */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .customers {
    margin-top: 50px;
  }
}

/* картка клієнта */
.customer-card {
  width: auto;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customer-card {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customer-card {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

/* посилання на сторінку клієнта */
.customer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  color: var(--s-icons-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

/* логотип у посиланні */
.customer-logo {
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-color);
  border-color: currentColor;
}

/* футер */
.page-bottom {
  padding: 60px 0;
  background-color: var(--second-bg-color);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .page-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-bottom .container {
    gap: 92px;
  }
}

@media screen and (max-width: 1199.998px) {
  .contact-box {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (max-width: 767.998px) {
  .contact-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 232px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.998px) {
  .contact-box {
    margin-left: 76px;
  }
}

@media screen and (max-width: 1199.998px) {
  .social-box {
    text-align: center;
  }
}
@media screen and (max-width: 767.998px) {
  .social-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 206px;
    margin-bottom: 60px;
  }
}

/* лого в футері , та адресса*/
.logo-light,
.direction {
  color: var(--light-text-color);
}

/* шрифт в контейнері адресси*/
.superscription {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
}

.page-bottom > .superscription {
  width: 231px;
}

/* пошта й номер */
.superscription .contact.link {
  color: var(--glassy-white-text);
}

/* анімація зміни кольору посилань в блоці контактів в футері   */
.superscription .link {
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.direction:hover,
.page-bottom .contact:hover,
.direction:focus,
.page-bottom .contact:focus {
  color: var(--accent-color);
}

.superscription.list .item:not(:first-child) {
  margin-top: 9px;
}

/* группа посилань на соцмережі */
.s-links-title,
.pb-form-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.bottom-s-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.bottom-s-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--light-s-icon-color);
  background-color: var(--dark-bg-icon-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.page-bottom .s-icon {
  width: 20px;
  height: 20px;
  fill: var(--light-s-icon-color);
}

.bottom-s-link:hover,
.bottom-s-link:focus {
  background-color: var(--accent-color);
}

/* форма підписки на розсилку */
@media screen and (max-width: 1199.998px) {
  .page-bottom-form {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199.998px) {
  .pb-form-label {
    text-align: center;
  }
}

.pb-form-email {
  margin-top: 20px;
  min-height: 50px;
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .pb-form-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.pb-email-input {
  height: 50px;
  width: calc(100% - 30px);
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--light-text-color);
  background-color: rgba(33, 150, 243, 0);
}
@media screen and (min-width: 388px) {
  .pb-email-input {
    min-width: 358px;
  }
}

.pb-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  min-width: 200px;
  padding: 10px 28px;
  margin-top: 0;
}
@media screen and (max-width: 767.998px) {
  .pb-submit-btn {
    margin: 20px auto 0;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .pb-submit-btn {
    margin-left: 12px;
  }
}

.pb-submit-icon {
  margin-left: 10px;
  fill: #fff;
}

/* портфоліо */
/* кнопки фільтрів */
.filters.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 250px) and (max-width: 767.998px) {
  .filters.list {
    max-width: 435px;
  }
}
@media screen and (min-width: 768px) {
  .filters.list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio .btn {
  background-color: var(--filter-btn-color);
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-color: transparent;
  border-radius: 4px;
  /* text-transform: capitalize; */
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*кнопки фільтрів при наведенні та фокусі*/
.portfolio .btn:hover,
.portfolio .btn:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* картки портфоліо */
@media screen and (min-width: 768px) {
  .cards.list {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .cards.list {
    margin-top: 50px;
  }
}

/* фон картки */
.portfolio .list-item {
  background-color: var(--main-bg-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio .list-item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media screen and (max-width: 767.998px) {
  .portfolio .list-item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio .list-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .list-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.img-wraper {
  position: relative;
  overflow: hidden;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.img-description {
  position: absolute;
  padding-left: 24px;
  padding-right: 24px;
  max-height: 100%;
  overflow: auto;
}

/* заголовок картки портфоліо */
.portfolio .card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

/* текст картки портфоліо */
.portfolio .card-text {
  font-size: 16px;
  line-height: 1.875;
  margin-top: 4px;
}

.cards .text-content {
  padding: 20px 24px;
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cards > .list-item:hover,
.cards .link:hover,
.cards.list > .list-item:focus,
.cards.list .link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards > .list-item:hover .img-overlay,
.cards .link:hover .img-overlay,
.cards.list > .list-item:focus .img-overlay,
.cards.list .link:focus .img-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  height: 609px;
  max-height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media screen and (max-width: 290px) {
  .modal {
    padding: 25px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition: opacity(0.2) 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity(0.2) 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity(0.2) 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity(0.2) 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.close-btn {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

/* Назва модального вікна */
.modal-title {
  display: block;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

/* форма в модальному вікні */
/* .modal-form{

  } */
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 342px;
  gap: 10px;
  /* outline: solid 2px red; */
}

.form-fild {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  /* outline: solid 2px red; */
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  border: 1px solid var(--form-fild-border);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.form-label {
  /* position: absolute;
    top: 0;
    left: 0; */
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 10;
  fill: #212121;
  background-color: #fff;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-message {
  display: block;
  resize: none;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--dark-text-color);
  border: 1px solid var(--form-fild-border);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .form-message {
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.01em;
  }
}

.form-input:hover ~ .form-icon,
.form-input:hover,
.form-message:hover,
.form-input:focus ~ .form-icon,
.form-input:focus,
.form-message:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  /* outline-color: var(--accent-color); */
  outline: none;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-icon {
  display: block;
  top: 50%;
  left: 0;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background: transparent;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  fill: transparent;
  -webkit-transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .checkbox-icon {
    left: 4px;
  }
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: transparent;
  fill: #fff;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .agreement {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.agreement-text-box {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .agreement-text-box {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.agreement-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  min-width: 200px;
  padding: 10px 52px;
  margin: 30px auto;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-submit-btn:hover,
.modal-submit-btn:hover {
  background: var(--active-btn-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  color: var(--secondary-text-color);
  fill: currentColor;
}
.menu-toggle__icon:hover, .menu-toggle__icon:focus {
  color: var(--accent-color);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-bg-color);
  z-index: 999;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
@media screen and (max-width: 350px) {
  .menu-container {
    padding: 48px 20px;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--secondary-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 40px;
  line-height: 47px;
}
.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-contacts {
  padding: 0;
  margin-top: auto;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
  margin-right: -30px;
}
.mobile-contacts__phone {
  font-size: 34px;
  line-height: 1.3333333333;
  color: var(--accent-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}
@media screen and (max-width: 350px) {
  .mobile-contacts__phone {
    font-size: 22px;
  }
}
.mobile-contacts__mail {
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (max-width: 350px) {
  .mobile-contacts__mail {
    font-size: 20px;
  }
}

.socials-string {
  /* рядок посиланнь на соц мережі */
  /* посилання на соц мережі*/
}
.socials-string__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 437.98px) {
  .socials-string__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 359.98px) {
  .socials-string__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.socials-string__link {
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: capitalize;
  color: var(--accent-color);
}
@media screen and (max-width: 437.98px) {
  .socials-string__link {
    font-size: 16px;
  }
}
.socials-string__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 437.98px) {
  .socials-string__item:not(:last-child) {
    padding-right: 5px;
  }
}
.socials-string__item:not(:first-child) {
  padding-left: 10px;
}
@media screen and (max-width: 437.98px) {
  .socials-string__item:not(:first-child) {
    padding-left: 5px;
  }
}
@media screen and (max-width: 266px) {
  .socials-string__item:nth-child(2) {
    border-right: none;
  }
}/*# sourceMappingURL=main.css.map */