.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      color: var(--secondary-text-color);
      font-weight: 700;
      font-size: 36px;
      line-height: calc(42 / 36);
      text-align: center;      
    }
    /* Приховування логічного заголовку */
    &__title--visually-hidden{
      @extend %visually-hidden;
    }
  }

  